


        <ul class="navigation">
            <li class="navitem selected">Projects</li>
            <li class="navitem gradient-bg">Employees</li>
            <li class="navitem">Map</li>
        </ul>
        <div class="clear"></div>

        <ul data-role="listview" data-theme="g" class="projectlist">
        </ul>
        <div class="clear"></div>

        <script type="text/javascript" src="/assets/projects/project-list.js"/>

