

        <div data-role="header" data-position="fixed" data-theme="g">
        <ul class="navigation">
            <li data-role="button" data-inline="true" data-theme="g" class="navitem selected">Projects</li>
            <li data-role="button" data-inline="true" data-theme="g" class="navitem gradient-bg">Employees</li>
            <li data-role="button" data-inline="true" data-theme="g" class="navitem">Map</li>
        </ul>
        <div class="clear"></div>
        </div>

        <ul data-role="listview" data-theme="g" class="projectlist">
        </ul>
        <div class="clear"></div>

        <script type="text/javascript" src="/assets/projects/project-list.js"/>

